<div class="chat-popup">
  <h2 class="chat-header">Car Buddy Insights ✨</h2>
  <div class="chat-body">
    <div class="chat-insights">
      <!-- <div class="issue-category">
        <h2 class="issue-category-title">Engine-related Issues</h2>
        <div class="chat-issue">
            <h3 class="issue-title">Timing Chain Issues</h3>
            <div class="issue-body">
              <p>Frequency: High</p>
              <p>Severity: Extreme</p>
              <p>Repair Cost: $3000 - $5000</p>
              <p>Mileage: 120,000 - 200,000 miles</p>
              <p class="issue-description">
                Failure of the inverter, which converts DC power from the battery to
                AC power for the electric motor.
              </p>
            </div>
          </div>
      </div> -->
    </div>
  </div>
</div>
